h1{color: #0000ff;}
span{color: #ff0000;}
#rebel {color:pink;text-decoration:line-through;}
marquee{background-image:url("deadpool.jpg");}
.deadpool{background-image: url("deadpool.jpg"); height: 500px; width: 500px; }
#red{background-color: red;}